<div class="small-card">
        <div class="small-card-content">
            <div class="small-card-picture">
                <img 
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYcvsnOcF0qztWlB4zcOJJaqlsyGl4M27U8Q&s"
                    alt=""
                > 
            </div>
    
            <div class="small-card-title">
                <h1><a href="">Sport mantem tradição</a></h1>
            </div>
        </div>
        
    <div class="small-card-footer">
        <hr/>
    </div>
</div>




