
<app-menu-title></app-menu-title>

<div class="articles">
    <div class="articles-main">
        <app-big-card 
        bigCardPicture="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYcvsnOcF0qztWlB4zcOJJaqlsyGl4M27U8Q&s"
        bigCardTitle="4.000 vezes Curry!"
        bigCardResume="Stephen Curry, jogador de basquete do Golden State Warriors, atinge a marca de 4000 cestas de 3 pontos na carreira e se torna o primeiro jogador da história da NBA a atingir essa marca."
        ></app-big-card>
    </div>
    
    <div class="articles-minor">
           <app-small-card
            smallCardPicture="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgEhC76S4v61WlyVHs4PX4Au6wbDpUuy8tog&s"
            smallCardTitle=" Paciência, Sport vence e avança para a final do Pernambucano"
            ></app-small-card>

           <app-small-card
            smallCardPicture="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsb976Sg54YH1WpV4aBLWp8nQXJQLymWWRiQ&s"
            smallCardTitle=" Expectativa! Lewis Hamilton e Ferrari irão em busca do título da F1"
           ></app-small-card>

           <app-small-card
           smallCardPicture="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRro-nnWpXvaKK0UW_Pb8tls2CikN9ldglMXA&s"
            smallCardTitle="Surpresa! Nova liga americada de basquete feminino é sucesso."
           ></app-small-card>
    </div>
</div>
